<button type="button" class="btn btn-primary" (click)="tornaIndietro()">Torna indietro</button>

<div class="prova">
    <button type="button" class="btn btn-primary" (click)="aggiungiLibro()">Aggiungi libro</button>
    <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="eliminaRaccolta()">Elimina raccolta</button>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Nome Raccolta</h2>
    <div class="line"></div>
</div>

<div class="postcard light blue" *ngFor="let libro of raccolta">
    <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="{{libro.volumeInfo.imageLinks}}" alt="Copertina libro" />
    </a>
    <div class="postcard__text t-dark">
        <h1 class="postcard__title blue"><a href="#">{{libro.volumeInfo.title}}</a></h1>
        <div class="postcard__subtitle small">
            <i>{{libro.volumeInfo.authors}}</i>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">{{libro.volumeInfo.description}}</div>
        <ul class="postcard__tagbox">
            <li class="tag__item"><i class="fas fa-tag mr-2"></i>{{libro.volumeInfo.categories}}</li>
        </ul>
        <button type="button" class="btn btn-outline-danger prova" (click)="eliminaLibro()">Elimina libro</button>
    </div>
</div>