<div *ngIf="tornaIndietro === false; else placeholder">
<button type="button" class="btn btn-primary" (click)="tornaAlleRaccolte()">Torna alle raccolte</button>
<div class="altoADestra" [ngClass]="{
    'nonVisualizzare': aggiunta,
    'visualla': !aggiunta
    }">
    <button type="button" class="btn btn-primary" (click)="apriChiudiForm()">Aggiungi libro</button>
</div><br>

<div class="form" [ngClass]="{
    'nonVisualizzare': !aggiunta,
    'visualla': aggiunta
    }">
    <div class="altoADestra">
        <button type="button" class="btn btn-primary" (click)="conferma()">Conferma</button>
        <button type="button" class="btn btn-danger" (click)="annulla()" style="margin-left: 5px;" >Annulla</button>
    </div><br>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Cerca un libro..." (keyup.enter)="searchBook()" [(ngModel)]="book"/>
	<button type="button" class="btn btn-outline-primary" (click)="searchBook()">Cerca</button>
    </div>
    <div class="container" *ngIf="book != '' && booksCollection && params.searchTerm === book">
        <div class="container" *ngIf="!booksCollection.items; else collectionNotEmpty">
            Nessun libro trovato
        </div>
        <ng-template #collectionNotEmpty>
            {{ booksCollection.totalItems }} risultati per {{ params.searchTerm }}
            <div class="cards-grid mt-3">
              <app-book-card [sessionId]="sessionId"
                *ngFor="let item of booksCollection.items; let index = index"
                [volume]="item" (click)="addBook(item)" 
              ></app-book-card>
            </div>
        </ng-template>
    </div>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>{{raccolta?.nome}}</h2>
    <div class="line"></div>
</div>

<div *ngIf="raccolta != null">
<div class="postcard light blue" *ngFor="let libro of raccolta.libri">
        <img class="postcard__img titolo" src="{{libro.copertina}}" alt="Copertina libro" />
    <div class="postcard__text t-dark">
        <h1 class="postcard__title blue" (click)="openBookPage(libro)" style="cursor: pointer;">{{libro.nome}}</h1>
        <div class="postcard__subtitle small">
            <i>{{libro.autore}}</i>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">{{libro.descrizione}}</div>
        <button type="button" class="btn btn-outline-danger altoADestra" (click)="eliminaLibro(libro)">Elimina libro</button>
    </div>
</div>
</div>
</div>

<ng-template #placeholder>
    <app-scheda-raccolte></app-scheda-raccolte>
</ng-template>