.card {
    background-color: #0996e6;
    cursor: pointer;
    min-height: 25rem;
    color: white;
}
  
.card-container {
    position: relative;
    width: 100%;
    height: 15rem;
}
  
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease all;
}
.card:hover {
    background-color: #5bb8ec;
}  

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}  