<div [ngClass]="{
    'formVisibile': !miaRecensione,
    'formNonVisibile': miaRecensione
}">
    <div class="buttonCrea">
        <label id="creaRecensione"><h4>Recensisci:</h4></label>
    </div>
    <div class="recensione">
            <form [formGroup]="form" class="voto">
                <div>Rating: {{form.value.rating1}}</div>
                <div class="cont">
                  <div class="stars">
                    <ngx-star-rating formControlName="rating1" [id]="'rating'"></ngx-star-rating>
                  </div>
                </div>
            </form>
        <div class="form-outline mb-4">
            <label class="form-label">Descrizione</label>
            <input type="text" class="form-control" style="word-wrap: break-word;" [(ngModel)]="descrRecensione"/>
        </div>
    </div>

    <div class="bottoniRecensione">
        <button id="confermaRecensione" type="button" class="btn btn-primary" (click)="creaRecensione()">Conferma</button>
        <button id="annullaRecensione" type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="svuotaCampi()">Annulla</button>
    </div>
</div>

<div class="form" [ngClass]="{
    'formVisibile': scrivereSegnalazione,
    'formNonVisibile': !scrivereSegnalazione
}">

    <div class="form-outline mb-4">
        <label class="form-label">Tipo segnalazione</label>
        <input type="text" class="form-control" [(ngModel)]="tipoSegnalazione"/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Descrizione</label>
        <input type="text" class="form-control" [(ngModel)]="descSegnalazione"/>
    </div>

    <button type="button" class="btn btn-primary" (click)="confermaSegnalazione()">Conferma</button>
    <button type="button" class="btn btn-danger" (click)="chiudiFormSegnalazione()" style="margin-left: 5px;">Annulla</button>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Recensioni</h2>
    <div class="line"></div>
</div>

<div id="recensioni" class="recensioni" *ngFor="let rec of recensioni; let index = index;">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                <div class="card-body p-4">
                    <div class="card mb-4">
                        <span *ngIf="userLogged && userLogged.id === rec.userId" (click)="cancellaRecensione(index)" class="material-symbols-outlined elimina-segnala altoDx">delete</span>
                        <span *ngIf="userLogged && userLogged.id !== rec.userId" (click)="apriFormSegnalazione(rec.id)" class="material-symbols-outlined elimina-segnala altoDx">flag</span>
                        <div class="card-body">
                            <p>{{rec.descrizione}}</p>
                            <div class="info">
                                <div class="star" *ngFor="let item of [].constructor(rec.voto)">
                                    <span class="material-icons-round">star</span>
                                </div>
                                <div class="star" *ngFor="let item of [].constructor(5-rec.voto)">
                                    <span class="material-icons-round">star_border</span>
                                </div><br><br>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="{{rec.userImg}}" alt="avatar" width="25" height="25"/>
                                    <p class="small mb-0 ms-2">{{rec.username}}</p>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="showCommentsIcon">                                        
                                        <button type="button" class="small text-muted mb-0" id="mostraCommenti" (click)="toggleComments(index)">Commenti</button>
                                    </div>
                                    <i class="fa fa-thumbs-up mx-2 fa-xs" style="margin-top: -0.16rem; cursor: pointer" [ngClass]="{
                                        'like': rec.liked,
                                        'non-like': !rec.liked
                                        }" (click)="likeRecensione(rec)"></i>
                                    <p class="small text-muted mb-0">{{rec.numeroMiPiace}}</p>
                                    <i class="fa fa-thumbs-down mx-2 fa-xs" style="margin-top: -0.16rem; cursor: pointer;" [ngClass]="{
                                        'like': rec.disliked,
                                        'non-like': !rec.disliked
                                        }" (click)="dislikeRecensione(rec)"></i>
                                    <p class="small text-muted mb-0">{{rec.numeroNonMiPiace}}</p>
                                </div>
                            </div>
                        </div>
                        <div id="commenti" class="commenti" [ngClass]="{
                            'apri-commenti': rec.showComments,
                            'nascondi-commenti': !rec.showComments
                            }">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <div class="card-body p-4" *ngFor="let comm of rec.commenti; let index = index;">          
                                        <div class="card">
                                                <span *ngIf="userLogged && userLogged.id === comm.userId" 
                                                (click)="cancellaCommento(comm.id, index)" class="material-symbols-outlined altoDx" style="cursor: pointer;">delete</span>
                                                <span *ngIf="userLogged && userLogged.id !== comm.userId" 
                                                (click)="apriFormSegnalazione(comm.id)" class="material-symbols-outlined altoDx" style="cursor: pointer;">flag</span>
                                            <div class="card-body">
                                                <p>{{comm.descrizione}}</p>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <img src="{{comm.userImg}}" alt="avatar" width="25" height="25"/>
                                                        <p class="small mb-0 ms-2">{{comm.username}}</p>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <i class="fa fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem; cursor: pointer" [ngClass]="{
                                                            'like': comm.liked,
                                                            'non-like': !comm.liked
                                                            }" (click)="likeCommento(comm)"></i>
                                                        <p class="small text-muted mb-0">{{comm.numeroMiPiace}}</p>
                                                        <i class="fa fa-thumbs-down mx-2 fa-xs text-black" style="margin-top: -0.16rem; cursor: pointer" [ngClass]="{
                                                            'like': comm.disliked,
                                                            'non-like': !comm.disliked
                                                            }" (click)="dislikeCommento(comm)"></i>
                                                        <p class="small text-muted mb-0">{{comm.numeroNonMiPiace}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control scriviCommento" placeholder="Scrivi un commento" [(ngModel)]="commento">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" type="button" (click)="aggiungiCommento(index)">Conferma</button>
                                            <i class="fa fa-angle-up" style="margin-left: 15px; cursor: pointer;" (click)="toggleComments(index)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
