<div class="separator">
    <div class="line"></div>
    <h2>Recensioni</h2>
    <div class="line"></div>
</div>

<div *ngIf="miaRecensione === null; else placeHolder">
    <div class="buttonCrea">
        <label id="creaRecensione"><h4>Recensisci:</h4></label>
    </div>
    <div class="recensione">
            <form [formGroup]="form" class="voto">
                <div>Rating: {{form.value.rating1}}</div>
                <div class="cont">
                  <div class="stars">
                    <ngx-star-rating formControlName="rating1" [id]="'rating'"></ngx-star-rating>
                  </div>
                </div>
            </form>
        <div class="form-outline mb-4">
            <label class="form-label">Descrizione</label>
            <input type="text" class="form-control" style="word-wrap: break-word;" [(ngModel)]="descrRecensione"/>
        </div>
    </div>

    <div class="bottoniRecensione">
        <button id="confermaRecensione" type="button" class="btn btn-primary" (click)="creaRecensione()">Conferma</button>
        <button id="annullaRecensione" type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="svuotaCampi()">Annulla</button>
    </div>
</div>

<ng-template #placeHolder>
    <h2 style="color: lightgray; text-align: center;">Hai già recensito questo libro</h2>
</ng-template>

<div class="separator">
    <div class="line"></div>
    <h2>La mia recensione</h2>
    <div class="line"></div>
</div>

<div id="recensioni" class="recensioni" *ngFor="let rec of recensioni; let index = index;">
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">
                <div class="card-body p-4">
                    <div class="card mb-4">
                        <button type="button" (click)="cancellaRecensione(index)" class="altoDx btn-sm btn btn-danger">Cancella recensione</button>
                        <div class="card-body">
                            <p>{{rec.descrizione}}</p>
                            <div class="info">
                                <p>Voto:</p>
                            </div>
                            <div class="attributi">
                                <p>{{rec.voto}}</p><br><br>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="{{rec.userImg}}" alt="avatar" width="25" height="25"/>
                                    <p class="small mb-0 ms-2">{{rec.username}}</p>
                                </div>
                                <div class="d-flex flex-row align-items-center">
                                    <div class="showCommentsIcon">                                        
                                        <button type="button" class="small text-muted mb-0" id="mostraCommenti" (click)="toggleComments()">Commenti</button>
                                    </div>
                                    <i class="fa fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                    <p class="small text-muted mb-0">{{rec.numMiPiace}}</p>
                                    <i class="fa fa-thumbs-down mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                    <p class="small text-muted mb-0">{{rec.numNonMiPiace}}</p>
                                </div>
                            </div>
                        </div>
                        <div id="commenti" class="commenti" [ngClass]="{
                            'apri-commenti': showComments,
                            'nascondi-commenti': !showComments 
                        }" *ngFor="let comm of rec.commenti; let index = index;">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-8">
                                    <div class="card-body p-4">          
                                        <div class="card">
                                            <div class="card-body">
                                                <p>{{comm.descrizione}}</p>
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(4).webp" alt="avatar" width="25" height="25"/>
                                                        <p class="small mb-0 ms-2">Nome user</p>
                                                    </div>
                                                    <div class="d-flex flex-row align-items-center">
                                                        <i class="fa fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                                        <p class="small text-muted mb-0">3</p>
                                                        <i class="fa fa-thumbs-down mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                                        <p class="small text-muted mb-0">3</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control scriviCommento" placeholder="Scrivi un commento">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" type="button">Conferma</button>
                                            <i class="fa fa-angle-up" style="margin-left: 15px;" (click)="toggleComments()"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
