.separator{
    display: flex;
    align-items: center;
}
.separator h2{
    padding: 0 2rem;
}
.separator .line{
    flex: 1;
    height: 3px;
    background-color: #000;
}

.elimina-segnala{
    cursor: pointer
}
.elimina-segnala:hover{
    color: red;
}

.iconaCentrata{
    position: absolute;
    right: 0;
    left: 0;
    margin-left: 50%;
    margin-right: 50%;
}

.altoDx{
    margin-top: 15px;
    margin-right: 10px;
    position:absolute;
    top:0;
    right:0;
}
.recensioni {
    margin-top: 20px; 
    margin-left: 30px;
}

.commenti {
    width: 100%;
}

.apri-commenti {
    display: block; 
}

.nascondi-commenti {
    display: none;
}

.iconHideComment i {
    margin-left: 20px; 
    margin-top: 5px; 
    font-size: 15px;
}
.iconHideComment i:hover {
    opacity: 0.5;
}

.showCommentsIcon button {
    border: none;
}
.showCommentsIcon button:focus {
    outline: none;
}
.showCommentsIcon button:hover {
    opacity: 0.5;
}

.recensione{
    margin-left: 10px;
    margin-right: 10px;
}

.bottoniRecensione{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scriviCommento {
    width: 70%; 
    height: 38px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.cont {
    width: 93%;
    max-width: 350px;
    /*text-align: center;*/
    /*margin: 4% auto;
    /*padding: 30px 0;
    color: #EEE;*/
    overflow: hidden;
    margin-bottom: 20px;
  }
  
div.stars {
    width: 270px;
    display: inline-block;
}

.formVisibile{
    display: block;
}

.formNonVisibile{
    display: none;
}

.like {
    color: blue;
}

.non-like {
    color: black;
}

.star {
    float: left;
    color: #ffcd3c;
}