<button type="button" class="btn btn-primary">Crea evento</button>

<div class="separator">
    <div class="line"></div>
    <h2>Eventi creati</h2>
    <div class="line"></div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Nome evento</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">09</span>
                            <span class="widget-49-date-month">apr</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">Luogo</span>
                            <span class="widget-49-meeting-time">12:00</span>
                        </div>
                    </div>
                    <div class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span>Creatore evento</span></li>
                        <li class="widget-49-meeting-item"><span>Persone che partecipano :</span><span>23</span></li>
                    </div>
                    <div class="widget-49-meeting-action">
                        <a href="#" class="btn btn-sm btn-flash-border-primary">Elimina</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Eventi a cui partecipi</h2>
    <div class="line"></div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Nome evento</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">09</span>
                            <span class="widget-49-date-month">apr</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">Luogo</span>
                            <span class="widget-49-meeting-time">12:00</span>
                        </div>
                    </div>
                    <div class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span>Descrizione evento</span></li>
                        <li class="widget-49-meeting-item"><span>Persone che partecipano :</span><span>23</span></li>
                    </div>
                    <div class="widget-49-meeting-action">
                        <a href="#" class="btn btn-sm btn-flash-border-primary">Non partecipo più</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Eventi disponibili</h2>
    <div class="line"></div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">Nome evento</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day">09</span>
                            <span class="widget-49-date-month">apr</span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">Luogo</span>
                            <span class="widget-49-meeting-time">12:00</span>
                        </div>
                    </div>
                    <div class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span>Descrizione evento</span></li>
                        <li class="widget-49-meeting-item"><span>Persone che partecipano :</span><span>23</span></li>
                    </div>
                    <div class="widget-49-meeting-action">
                        <a href="#" class="btn btn-sm btn-flash-border-primary">Partecipa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>