<div *ngIf="eventoSelezionato === null; else placeholder">
<button type="button" class="btn btn-primary" (click)="creaEvento()" [ngClass]="{
    'bottoneVisibile': !creazioneEvento,
    'bottoneNonVisibile': creazioneEvento
}">Crea evento</button>

<div class="form" [ngClass]="{
    'formVisibile': creazioneEvento,
    'formNonVisibile': !creazioneEvento
}">

    <div class="form-outline mb-4">
        <label class="form-label">Nome evento</label>
        <input type="text" class="form-control" [(ngModel)]="nome"/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Descrizione</label>
        <input type="text" class="form-control" [(ngModel)]="descrizione"/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Luogo</label>
        <input type="text" class="form-control" [(ngModel)]="luogo"/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Giorno</label>
        <input type="date" class="form-control" [(ngModel)]="giorno"/>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label">Ora</label>
        <input type="time" class="form-control" [(ngModel)]="ora"/>
    </div>
    <button type="button" class="btn btn-primary" (click) = "conferma()">Conferma</button>
    <button type="button" class="btn btn-danger" (click)="creaEvento()" style="margin-left: 5px;">Annulla</button>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Eventi creati</h2>
    <div class="line"></div>
</div>

<div class="container eventi">
    <div class="row">
        <h2 class="testi" *ngIf="eventiCreati.length === 0">Aggiungi nuovo evento</h2>
        <div class="col-lg-4" *ngFor="let evento of eventiCreati; let index = index;">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title" (click)="apriEventoCreato(index)" style="cursor: pointer;">{{evento.nome}}</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day"> {{evento.printDate}} </span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">{{evento.luogo}}</span>
                                <span class="widget-49-meeting-time">{{evento.orario}}</span>
                            </div>
                        </div>
                        <div class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Persone che partecipano: </span><span>{{evento.partecipanti}}</span></li>
                        </div>
                        <div class="widget-49-meeting-action">
                            <a role="button" class="btn btn-sm btn-flash-border-primary" (click)="eliminaEvento(index)">Elimina</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Eventi a cui partecipi</h2>
    <div class="line"></div>
</div>

<div class="container eventi">
<div class="row">
    <h2 class="testi" *ngIf="eventiAccettati.length === 0">Partecipa ad un nuovo evento</h2>
    <div class="col-lg-4" *ngFor="let evento of eventiAccettati; let index = index;">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title" (click)="apriEventoPartecipa(index)" style="cursor: pointer;"> {{evento.nome}}</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day"> {{evento.printDate}} </span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">{{evento.luogo}}</span>
                            <span class="widget-49-meeting-time">{{evento.orario}}</span>
                        </div>
                    </div>
                    <div class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span>Persone che partecipano: </span><span>{{evento.partecipanti}}</span></li>
                    </div>
                    <div class="widget-49-meeting-action">
                        <a role="button" class="btn btn-sm btn-flash-border-primary" (click)="eliminaPart(index)">Non partecipare</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Eventi disponibili</h2>
    <div class="line"></div>
</div>

<div class="container eventi">
<div class="row">
    <h2 class="testi" *ngIf="eventiDisponibili.length === 0">Non ci sono eventi disponibili</h2>
    <div class="col-lg-4" *ngFor="let evento of eventiDisponibili; let index = index;">
        <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title" (click)="apriEventoDisponibile(index)" style="cursor: pointer;"> {{evento.nome}}</h5>
            </div>
            <div class="card-body pt-0">
                <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                        <div class="widget-49-date-primary">
                            <span class="widget-49-date-day"> {{evento.printDate}} </span>
                        </div>
                        <div class="widget-49-meeting-info">
                            <span class="widget-49-pro-title">{{evento.luogo}}</span>
                            <span class="widget-49-meeting-time">{{evento.orario}}</span>
                        </div>
                    </div>
                    <div class="widget-49-meeting-points">
                        <li class="widget-49-meeting-item"><span>Persone che partecipano: </span><span>{{evento.partecipanti}}</span></li>
                    </div>
                    <div class="widget-49-meeting-action">
                        <a role="button" class="btn btn-sm btn-flash-border-primary" (click)="partecipa(index)">Partecipa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<ng-template #placeholder>
    <app-pagina-evento [evento]="eventoSelezionato"></app-pagina-evento>
</ng-template>