<div class="titolo">
    <h2>Harry Potter e la pietra filosofale</h2>
</div>
<div class="row">
    <div class="column1">
        <div class="immagine">
            <img src="assets/img/scott.png">
        </div>
    </div>
    <div class="column2">
        <div class="infoLibro">
            <div class="info">
                <p>Autore:</p>
            </div>
            <div class="attributi">
                <p>J.K. Rowling</p>
            </div>
            <div class="info">
                <p>Genere:</p>
            </div>
            <div class="attributi">
                <p>Fantascienza</p>
            </div>
            <div class="info">
                <p>Casa editrice: </p>
            </div>
            <div class="attributi">
                <p>BAO Publishing</p>
            </div>
            <div class="info">
                <p>Data pubblicazione: </p>
            </div>
            <div class="attributi">
                <p>15/01/2004</p>
            </div>
            <div class="info">
                <p>Lingua: </p>
            </div>
            <div class="attributi">
                <p>Italiano</p>
            </div>
            <div class="info">
                <p>Pagine: </p>
            </div>
            <div class="attributi">
                <p>368</p>
            </div>
            <div class="info">
                <p>Prezzo: </p>
            </div>
            <div class="attributi">
                <p>15,99€</p>
            </div>
            <div class="info">
                <p>Valutazione media: </p>
            </div>
            <div class="attributi">
                <p>4,20</p>
            </div>
        </div>
    </div>
</div>
<div class="trama">
    <h4>Trama</h4>
    <p>L'opera, divisa in sette libri, è incentrata sulle avventure del giovane mago Harry Potter e dei suoi migliori amici Ron Weasley e Hermione Granger, studenti della Scuola di Magia e Stregoneria di Hogwarts. Il corpo principale di ognuno dei sette romanzi racconta un anno della vita di Harry. La storia inizia con Albus Silente, il preside di Hogwarts, che affida il piccolo Harry Potter, rimasto orfano, ai Dursley, suoi unici parenti rimasti in vita. Le angherie che Harry subisce da parte dei Dursley riempiono la sua vita per dieci anni, fino a quando il ragazzo apprende di essere un mago grazie al guardiacaccia Rubeus Hagrid e di avere così diritto di frequentare Hogwarts. Prosegue i suoi studi di magia per i seguenti anni, vivendo, insieme a Ron e Hermione, sfide e avventure di vari tipi.</p>
</div>
