<ng-container *ngIf="sessionId">
<div class="sidenav" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()"
    [ngClass]="{
        'sidenav-aperta': !miniSidebar,
        'sidenav-compatta': miniSidebar
    }">
    <img src="assets/img/logo.png">
    <a routerLink="home" [queryParams]="{jsessionid: sessionId}"><span class="material-symbols-outlined">home</span><span class="textIcon"></span>Catalogo</a>
    <a routerLink="utente" [queryParams]="{jsessionid: sessionId}"><span class="material-symbols-outlined">person</span><span class="textIcon"></span>Utente</a>
    <a routerLink="eventi" [queryParams]="{jsessionid: sessionId}"><span class="material-symbols-outlined">event</span><span class="textIcon"></span>Eventi</a>
    <a routerLink="raccolte" [queryParams]="{jsessionid: sessionId}"><span class="material-symbols-outlined">collections_bookmark</span><span class="textIcon"></span>Raccolte</a>
</div>
<div [ngClass]="{
    'main-aperto': !miniSidebar,
    'main-compatto': miniSidebar}">
    <router-outlet></router-outlet>
</div>
</ng-container>