<button type="button" class="btn btn-primary" (click)="creaRaccolta()" [ngClass]="{
    'bottoneVisibile': !creazioneRaccolta,
    'bottoneNonVisibile': creazioneRaccolta
}">Crea Raccolta</button>

<div class="form" [ngClass]="{
    'formVisibile': creazioneRaccolta,
    'formNonVisibile': !creazioneRaccolta
}">
    <div class="form-outline mb-4">
        <label class="form-label">Nome Raccolta</label>
        <input type="text" class="form-control" [(ngModel)]="nome"/>
    </div>
    <button type="button" class="btn btn-primary" (click) = "conferma()">Conferma</button>
    <button type="button" class="btn btn-danger" (click)="annulla()" style="margin-left: 5px;">Annulla</button>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Le tue raccolte</h2>
    <div class="line"></div>
</div>

<div class="container raccolte">
    <div class="row">
        <h2 class="testi" *ngIf="raccolte.length === 0">Crea nuova raccolta</h2>
        <div class="col-lg-4" (click)="apriSchedaRaccolta()" style="cursor: pointer;" *ngFor="let raccolta of raccolte; let index = index;">
            <div class="card card-custom bg-white border-white border-0">
                <div *ngIf="raccolta.numLibri > 0; else placeHolder">
                    <div class="card-custom-img" style="background-image: url({{raccolta.libri[0].volumeInfo.imageLinks}})"></div>
                </div>
                <ng-template #placeHolder>
                    <div class="card-custom-img" style="background-image: url('http://placehold.jp/e0e0e0/ffffff/250x250.png?text=No%20image')"></div>
                </ng-template>
                <div class="card-body" style="overflow-y: auto">
                <h4 class="card-title">{{raccolta.nome}}</h4>
                <!--<p *ngIf="raccolta.libri.length === 0; else numeroLibri" class="card-text">Libri contenuti: 0</p>
                <ng-template #numeroLibri>-->
                    <p class="card-text">Libri contenuti: {{raccolta.numLibri}}</p>
                <!--</ng-template>--> 
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                <button type="button" class="btn btn-outline-danger" (click)="eliminaRaccolta(index)">Elimina</button>
                </div>
            </div>
        </div>
    </div>
</div>
