<button type="button" class="btn btn-primary" (click)="creaRaccolta()" [ngClass]="{
    'bottoneVisibile': !creazioneRaccolta,
    'bottoneNonVisibile': creazioneRaccolta
}">Crea Raccolta</button>

<div class="form" [ngClass]="{
    'formVisibile': creazioneRaccolta,
    'formNonVisibile': !creazioneRaccolta
}">

    <div class="form-outline mb-4">
        <label class="form-label">Nome Raccolta</label>
        <input type="text" class="form-control" />
        <label class="form-label">Cerca libro da aggiungere</label>
        <input type="text" class="form-control" [(ngModel)]="book"/>
        <button type="button" class="btn btn-primary" style="margin-top: 5px;" (click)="cercaLibro()">Cerca libro</button>
        
        <div *ngIf="book != '' && booksCollection && params.searchTerm === book">
            <div *ngIf="!booksCollection.items; else collectionNotEmpty">
                Nessun libro trovato
            </div>
            <ng-template #collectionNotEmpty>
                {{ booksCollection.totalItems }} risultati per {{ params.searchTerm }}
                <div class="cards-grid mt-3">
                    <app-book-card [sessionId]="sessionId"
                        *ngFor="let item of booksCollection.items"
                        [volume]="item"
                    ></app-book-card>
                </div>
            </ng-template>
        </div>

    </div>
    <button type="button" class="btn btn-primary" (click) = "conferma()">Conferma</button>
    <button type="button" class="btn btn-danger" (click)="annulla()" style="margin-left: 5px;">Annulla</button>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Le tue raccolte</h2>
    <div class="line"></div>
</div>

<div class="container raccolte">
    <div class="row">
        <h2 class="testi" *ngIf="raccolte.length === 0">Crea nuova raccolta</h2>
        <div class="col-lg-4" (click)="apriRaccolta()" style="cursor: pointer;" *ngFor="let raccolta of raccolte; let index = index;">
            <div class="card card-custom bg-white border-white border-0">
                <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                <div class="card-body" style="overflow-y: auto">
                <h4 class="card-title">{{raccolta.nome}}</h4>
                <p class="card-text">Libri contenuti: 15</p>
                </div>
                <div class="card-footer" style="background: inherit; border-color: inherit;">
                <button type="button" class="btn btn-outline-danger" (click)="eliminaRaccolta(index)" >Elimina</button>
                </div>
            </div>
        </div>
    </div>
</div>