<h1>Profilo personale</h1>

<div class="modifyButton">
    <button (click)="modificaInfo() "type="button" class="btn btn-outline-primary" [ngClass]="{
        'nonCliccabile': modifica }">Modifica</button>
    <button (click)="logout()" type="button" class="btn btn-danger" style="margin-left: 5px;">Logout</button>
</div>

<!--INFO UTENTE-->
<div class="row">
    <div class="column1">
        <img class="rounded-circle responsive" alt="Foto profilo" src="{{image}}" />
    </div>
    <div class="column2">
        <div class="info">
            <h2><input type="text" placeholder="Username" [(ngModel)]="username" [ngClass]="{
                'userNonModificabile': !modifica,
                'modificabile': modifica
            }"></h2>
            <p class="pNome"><input type="text" placeholder="Nome" [(ngModel)]="nome" [ngClass]="{
                'nomeNonModificabile': !modifica,
                'modificabile': modifica
            }"></p>
            <p class="pCognome">
                <input type="text" placeholder="Cognome" [(ngModel)]="cognome" [ngClass]="{
                    'cognomeNonModificabile': !modifica,
                    'cognomeModificabile': modifica
                }">
            </p>
            <p class="pEmail"><input type="text" placeholder="Email" [(ngModel)]="email" [ngClass]="{
                'emailNonModificabile': !modifica,
                'emailModificabile': modifica
            }"></p>
            
            <button class="btn btn-outline-primary bottoneFoto" [ngClass]="{
                'visualizza': modifica,
                'nonVisualizza': !modifica}">Modifica foto</button>

            <button (click)="confermaInfo()" type="button" class="btn btn-outline-primary" [ngClass]="{
                'nonCliccabile': !modifica
            }">Conferma</button>
            <button (click)="annullaInfo()" type="button" class="btn btn-outline-danger annulla" [ngClass]="{
                'nonCliccabile': !modifica
            }">Annulla</button>             
        </div>
    </div>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Statistiche</h2>
    <div class="line"></div>
</div>

<!--CARDS-->
<div class="row">
<!--LIBRI LETTI-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-book"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Libri letti</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                        69
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--GENERE PREFERITO-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-bookmark"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Genere preferito</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                        Giallo
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--RACCOLTE CREATE-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-folder-open"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Raccolte create</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                        5
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--AUTORE PREFERITO-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-heart"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Autore preferito</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0" style="white-space: nowrap;">
                        Wulf Dorn
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SEGUITI-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Seguiti</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                        420
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FOLLOWER-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Follower</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                        469
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--EVENTI CREATI-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-calendar"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0">Eventi creati</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                        15
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--EVENTI A CUI SI HA PARTECIPATO-->
<div class="col-xl-3 col-lg-6">
    <div class="card l-bg-blue-dark">
        <div class="card-statistic-3 p-4">
            <div class="card-icon card-icon-large"><i class="fas fa-thumbs-up"></i></div>
            <div class="mb-4">
                <h5 class="card-title mb-0" style="white-space: nowrap;">Eventi a cui hai partecipato</h5>
            </div>
            <div class="row align-items-center mb-2 d-flex">
                <div class="col-8">
                    <h2 class="d-flex align-items-center mb-0">
                        69
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>

</div>