<div class="altoADestra">
    <button (click)="logout()" type="button" class="btn btn-danger" style="margin-left: 5px;">Logout</button>
</div>

<div class="separator">
    <div class="line"></div>
    <h2>Segnalazioni</h2>
    <div class="line"></div>
</div>

<div class="foto" *ngIf="segnalazioni.length === 0">
    <img class="responsive" src="/assets/img/nothing.png">
</div>

<div class="postcard light blue" *ngFor="let segn of segnalazioni; let index = index;">
    <div class="postcard__text t-dark">
        <h1 class="postcard__title blue">{{segn.tipo}}</h1>
        <div class="postcard__subtitle small">
            <h6>{{segn.descrizione}}</h6>
            <i>{{segn.username}}</i>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">{{segn.descrizionePost}}</div>
        <div class="altoADestra">
            <button (click)="modera(index)" type="button" class="btn btn-outline-danger">Modera</button>
            <button (click)="lasciaPerdere(index)" type="button" class="btn btn-outline-primary" style="margin-left: 5px;">Lascia perdere</button>
        </div>
    </div>
</div>