<div class="sidenav" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()"
    [ngClass]="{
        'sidenav-aperta': !mini,
        'sidenav-compatta': mini
    }">
    <img src="assets/img/scott.png">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="material-symbols-outlined">home</span><span class="textIcon"></span>Home</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="material-symbols-outlined">person</span><span class="textIcon"></span>User</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="material-symbols-outlined">menu_book</span><span class="textIcon"></span>Collections</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="material-symbols-outlined">event</span><span class="textIcon"></span>Events</a>
    <a class="settings" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span class="material-symbols-outlined">settings</span><span class="textIcon"></span>Settings</a>
</div>